<template>
    <div class="container">
        <div class="row justify-content-center" v-if="$Gate.isAdmin()">
            <div class="col-md-10">
                <passport-clients></passport-clients>
                <passport-authorized-clients></passport-authorized-clients>
                <passport-personal-access-tokens></passport-personal-access-tokens>
            </div>
        </div>

        <div v-if="!$Gate.isAdmin()">
        <error404></error404>
        </div>
                
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
